*{
	margin: 0;
	padding: 0;
}
/*导航*/
#nav{
	height: 60px;
	width: 960px;
	margin:0 auto;
}
#nav img{

	margin-right: 20px;
	width: 220px;
	height: 60px;
	float: left;
}
#nav p{
	text-align: center;
	
	font-size: 31px;
    float: left;
	height: 60px;
	width: 200px;
	line-height: 60px;
}
#nav ul{
	width: 700px;
	height: 60px;
	display: inline-block;
		float: left;
}
#nav ul li{
	float: left;
    list-style:none;

    margin: 20px;
}
#nav ul li.l_1{
	background-color: #a4f087;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
#nav ul li a{
	text-decoration: none;
}
#nav ul li.l_1 a{
	display: inline-block;
    margin: 20px;
    height: 40px;
    width: 40px;
}
/*center*/
#center{
	width: 100%;
	height: auto;
	text-align: center;
}
img.i_1{
	z-index: 1;
	width:100%;
}
img.i_9{
	z-index: 2;
	width:100%;
	height:;
	position: absolute;
	top: 440px;
	left: 0;	
}
img.i_2{
	z-index: 4;
	height: 300px;
	width:600px;
	position: absolute;
	top: 180px;
	left: 500px;
}
img.i_3{
	z-index: 3;
	width:550px;
	height: 300px;
    position: absolute;
	top: 450px;
	left: 450px;
}
img.i_4{
	z-index: 3;
	width:150px;
	height: 50px;
    position: absolute;
	top: 160px;
	right: 220px;
}
img.i_5{
	z-index: 3;
	width:150px;
	height: 100px;
    position: absolute;
	top: 420px;
	right: 410px;
}
img.i_6{
	z-index: 3;
	width:200px;
	height: 300px;
    position: absolute;
	top: 100px;
	left: 200px;
}
img.i_7{
	z-index: 3;
	width:300px;
	height: 500px;
    position: absolute;
	top: 500px;
	right: 370px;
}
img.i_10{
	z-index: 5;
	width:150px;
	height: 200px;
    position: fixed;
	top: 300px;
	left: 70px;
}
img.i_8{
	z-index: 5;
	width:150px;
	height: 200px;
    position: fixed;
	top: 300px;
	right: 70px;
}
/*map*/
img.m_1{
	z-index: 3;
	position: absolute;
	left: 600px;
	top: 760px;
}
img.m_2{
	z-index: 3;
	position: absolute;
	left: 200px;
	top: 760px;
}

/*junxun*/
img.j_1{
	z-index: 3;
	position: absolute;
	left: 600px;
	top: 1660px;
}
img.j_2{
	z-index: 3;
	position: absolute;
	left: 100px;
	top: 1760px;
}
img.j_3{
	z-index: 3;
	position: absolute;
	left: 50px;
	top: 2170px;
}
.jx span{
	background-color: #ff9585;
	width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	position: absolute;
	display: inline-block;
	z-index: 3;
	top:2200px;
	left:970px;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
}
/*ys*/
img.ys_1{
	position: absolute;
	z-index: 3;
	top: 2600px;
	left: 100px;
}
img.ys_2{
	position: absolute;
	z-index: 3;
	top: 2550px;
	left: 380px;
}
img.ys_3{
	position: absolute;
	z-index: 3;
	top: 2550px;
	right: 400px;
}
img.ys_4{
	position: absolute;
	z-index: 3;
	top: 2730px;
	left: 400px;
}
img.ys_5{
	position: absolute;
	z-index: 3;
	top: 2730px;
	right: 450px;
}
p.ys_6{
	position: absolute;
	z-index: 3;
	top: 2900px;
	left: 270px;
	color: #666666;
}
p.ys_7{
	position: absolute;
	z-index: 3;
	top: 2900px;
	right: 340px;
	color: #666666;
}
.ys span.ys_8{
	background-color:#ff9585;
	position: absolute;
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	z-index: 4; 
	top: 3000px;
	left: 400px;
	display: inline-block;
	font-size: 25px;
	color: #ffffff;
}
.ys span.ys_9{
	background-color:#ff9585;
	position: absolute;
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	z-index: 4; 
	top: 3000px;
	right: 450px;
	display: inline-block;
	font-size: 25px;
	color: #ffffff;
}
/*fw*/
img.fw_1{
	position: absolute;
	z-index: 3;
	top: 3300px;
	left: 100px;
}
img.fw_2{
	position: absolute;
	z-index: 3;
	top: 3250px;
	left: 380px;
}
img.fw_3{
	position: absolute;
	z-index: 3;
	top: 3250px;
	right: 400px;
}
img.fw_4{
	position: absolute;
	z-index: 3;
	top: 3430px;
	left: 400px;
}
img.fw_5{
	position: absolute;
	z-index: 3;
	top: 3430px;
	right: 450px;
}
p.fw_6{
	position: absolute;
	z-index: 3;
	top: 3630px;
	left: 270px;
	color: #666666;
}
p.fw_7{
	position: absolute;
	z-index: 3;
	top: 3630px;
	right: 340px;
	color: #666666;
}
.fw span.fw_8{
	background-color:#ff9585;
	position: absolute;
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	z-index: 4; 
	top: 3700px;
	left: 400px;
	display: inline-block;
	font-size: 25px;
	color: #ffffff;
}
.fw span.fw_9{
	background-color:#ff9585;
	position: absolute;
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	z-index: 4; 
	top: 3700px;
	right: 450px;
	display: inline-block;
	font-size: 25px;
	color: #ffffff;
}
img.fw_10{
	position: absolute;
	z-index: 3;
	top: 3740px;
	right: 250px;
}
/*yx*/
img.yx_1{
	position: absolute;
	z-index: 3;
	top: 4000px;
	left: 600px;
}
img.yx_2{
	position: absolute;
	z-index: 3;
	top: 4130px;
	left: 110px;
}
img.yx_3{
	position: absolute;
	z-index: 3;
	top: 4200px;
	left: 250px;
}
p.yx_6{
	position: absolute;
	z-index: 3;
	top: 4230px;
	left: 450px;
	color: #666666;
}
.yx span.yx_8{
	background-color:#ff9585;
	position: absolute;
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	z-index: 4; 
	top: 4300px;
	right: 400px;
	display: inline-block;
	font-size: 25px;
	color: #ffffff;
}
img.yx_4{
	position: absolute;
	z-index: 3;
	top: 4450px;
	left: 110px;
}
img.yx_5{
	position: absolute;
	z-index: 3;
	top: 4500px;
	left:250px;
}
p.yx_7{
	position: absolute;
	z-index: 3;
	top: 4580px;
	right: 500px;
	color: #666666;
}
.yx span.yx_9{
	background-color:#ff9585;
	position: absolute;
    width: 140px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
	z-index: 4; 
	top: 4620px;
	right: 400px;
	display: inline-block;
	font-size: 25px;
	color: #ffffff;
}
img.yx_10{
	top: 4600px;
	left: 40px;
	position: absolute;
	z-index: 4;
}
/*top*/
.top_f img{
	z-index: 4;
	position: fixed;
	right: 50px;
	bottom: 40px;
	height: 150px;
	width: 150px;
}
.top_f span{
    z-index: 4;
    position:fixed;
    right: 80px;
    bottom: 160px;
    color: #ff9d23;
    font-size: 26px;
}
/*st*/
img.st_1{
	position: absolute;
	top: 2500px;
	right: 2px;
}
img.st_2{
	position: absolute;
	top: 3300px;
	left:2px;
}
/*底部*/
#buttom{
   z-index: 3;
   position: relative;
   background-color: #d2f3aa;
   width: 100%;
   height: 140px;
   text-align: center;
   color: #a0cc6d;
   top:4000px;
}
#buttom li{
   display: inline-block;
   list-style: none;
}
#buttom li a{
   text-decoration: none;
   color: #a0cc6d;
}